// breakpoints
$med-grid-breakpoints: (
  'xxs': 340px,
  'xs': 380px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
) !default;

// font size
$med-font-size-nano: 10px !default;
$med-font-size-xxxs: 12px !default;
$med-font-size-xxs: 14px !default;
$med-font-size-xs: 16px !default;
$med-font-size-sm: 20px !default;
$med-font-size-md: 24px !default;
$med-font-size-lg: 32px !default;
$med-font-size-xl: 40px !default;
$med-font-size-xxl: 48px !default;
$med-font-size-xxxl: 64px !default;
$med-font-size-huge: 96px !default;

// letter spacing
$med-letter-spacing-ultracompressed: -0.04 !default;
$med-letter-spacing-compressed: -0.02 !default;
$med-letter-spacing-default: 0 !default;
$med-letter-spacing-medium: 0.02 !default;
$med-letter-spacing-expanded: 0.05 !default;
$med-letter-spacing-distant: 0.1 !default;
$med-letter-spacing-far: 0.2 !default;

// font weight
$med-font-weight-thin: 250 !default;
$med-font-weight-light: 300 !default;
$med-font-weight-regular: 400 !default;
$med-font-weight-medium: 500 !default;
$med-font-weight-semibold: 600 !default;
$med-font-weight-bold: 700 !default;
$med-font-weight-extrabold: 800 !default;
$med-font-weight-heavy: 900 !default;

// brand color
$med-color-brand-primary-darkest: #074953;
$med-color-brand-primary-darkest-rgb: 7, 73, 83;

$med-color-brand-primary-dark: #137585;
$med-color-brand-primary-dark-rgb: 19, 117, 133;

$med-color-brand-primary-medium: #3aa8b9;
$med-color-brand-primary-medium-rgb: 58, 168, 185;

$med-color-brand-primary-light: #73d6e5;
$med-color-brand-primary-light-rgb: 115, 214, 229;

$med-color-brand-primary-lightest: #b0ecf5;
$med-color-brand-primary-lightest-rgb: 176, 236, 245;

$med-color-brand-primary-gradient: linear-gradient(to bottom, $med-color-brand-primary-medium, $med-color-brand-primary-dark);

// aula color
$med-color-aula-darkest: #075344;
$med-color-aula-darkest-rgb: 7, 83, 68;

$med-color-aula-dark: #13856e;
$med-color-aula-dark-rgb: 19, 133, 110;

$med-color-aula-medium: #3ab89f;
$med-color-aula-medium-rgb: 58, 184, 159;

$med-color-aula-light: #73e5cf;
$med-color-aula-light-rgb: 115, 229, 207;

$med-color-aula-lightest: #b0f5e7;
$med-color-aula-lightest-rgb: 176, 245, 231;

// material color
$med-color-material-darkest: #552607;
$med-color-material-darkest-rgb: 85, 38, 7;

$med-color-material-dark: #854013;
$med-color-material-dark-rgb: 133, 64, 19;

$med-color-material-medium: #b86d3b;
$med-color-material-medium-rgb: 184, 109, 59;

$med-color-material-light: #e5a173;
$med-color-material-light-rgb: 229, 161, 115;

$med-color-material-lightest: #f5ccb0;
$med-color-material-lightest-rgb: 245, 204, 176;

// questões color
$med-color-questoes-darkest: #073953;
$med-color-questoes-darkest-rgb: 7, 57, 83;

$med-color-questoes-dark: #135f85;
$med-color-questoes-dark-rgb: 19, 95, 133;

$med-color-questoes-medium: #3a8eb8;
$med-color-questoes-medium-rgb: 58, 142, 184;

$med-color-questoes-light: #73bfe5;
$med-color-questoes-light-rgb: 115, 191, 229;

$med-color-questoes-lightest: #b0def5;
$med-color-questoes-lightest-rgb: 176, 222, 245;

// revalida color
$med-color-revalida-darkest: #53071e;
$med-color-revalida-darkest-rgb: 83, 7, 30;

$med-color-revalida-dark: #851335;
$med-color-revalida-dark-rgb: 133, 19, 53;

$med-color-revalida-medium: #b83a60;
$med-color-revalida-medium-rgb: 184, 58, 96;

$med-color-revalida-light: #e57395;
$med-color-revalida-light-rgb: 229, 115, 149;

$med-color-revalida-lightest: #f5b0c5;
$med-color-revalida-lightest-rgb: 245, 176, 197;

// provas & checklist color
$med-color-provaschecklist-darkest: #2b0755;
$med-color-provaschecklist-darkest-rgb: 43, 7, 85;

$med-color-provaschecklist-dark: #481385;
$med-color-provaschecklist-dark-rgb: 72, 19, 133;

$med-color-provaschecklist-medium: #753bb8;
$med-color-provaschecklist-medium-rgb: 117, 59, 184;

$med-color-provaschecklist-light: #a873e5;
$med-color-provaschecklist-light-rgb: 168, 115, 229;

$med-color-provaschecklist-lightest: #d1b2f5;
$med-color-provaschecklist-lightest-rgb: 209, 178, 245;

// neutral dark color
$med-color-neutral-dark-prime: #141414;
$med-color-neutral-dark-prime-rgb: 20, 20, 20;

$med-color-neutral-dark-40: #292929;
$med-color-neutral-dark-40-rgb: 41, 41, 41;

$med-color-neutral-dark-30: #474747;
$med-color-neutral-dark-30-rgb: 71, 71, 71;

$med-color-neutral-dark-20: #5c5c5c;
$med-color-neutral-dark-20-rgb: 92, 92, 92;

$med-color-neutral-dark-10: #7a7a7a;
$med-color-neutral-dark-10-rgb: 122, 122, 122;

// neutral light color
$med-color-neutral-light-prime: #fafafa;
$med-color-neutral-light-prime-rgb: 250, 250, 250;

$med-color-neutral-light-40: #ebebeb;
$med-color-neutral-light-40-rgb: 235, 235, 235;

$med-color-neutral-light-30: #d6d6d6;
$med-color-neutral-light-30-rgb: 214, 214, 214;

$med-color-neutral-light-20: #c2c2c2;
$med-color-neutral-light-20-rgb: 194, 194, 194;

$med-color-neutral-light-10: #adadad;
$med-color-neutral-light-10-rgb: 173, 173, 173;

$med-color-neutral-gradient: linear-gradient(to bottom, $med-color-neutral-dark-prime, $med-color-neutral-light-prime);

// feedback warning color
$med-color-feedback-warning-darkest: #504606;
$med-color-feedback-warning-darkest-rgb: 80, 70, 6;

$med-color-feedback-warning-dark: #857513;
$med-color-feedback-warning-dark-rgb: 133, 117, 19;

$med-color-feedback-warning-medium: #b8a73b;
$med-color-feedback-warning-medium-rgb: 184, 167, 59;

$med-color-feedback-warning-light: #e5d673;
$med-color-feedback-warning-light-rgb: 229, 214, 115;

$med-color-feedback-warning-lightest: #f5ecb0;
$med-color-feedback-warning-lightest-rgb: 245, 236, 176;

// feedback warning color
$med-color-feedback-error-darkest: #520c07;
$med-color-feedback-error-darkest-rgb: 82, 12, 7;

$med-color-feedback-error-dark: #851a13;
$med-color-feedback-error-dark-rgb: 133, 26, 19;

$med-color-feedback-error-medium: #b8433b;
$med-color-feedback-error-medium-rgb: 184, 67, 59;

$med-color-feedback-error-light: #e57a73;
$med-color-feedback-error-light-rgb: 229, 122, 115;

$med-color-feedback-error-lightest: #f5b5b0;
$med-color-feedback-error-lightest-rgb: 245, 181, 176;

// feedback success color
$med-color-feedback-success-darkest: #065010;
$med-color-feedback-success-darkest-rgb: 6, 80, 16;

$med-color-feedback-success-dark: #138522;
$med-color-feedback-success-dark-rgb: 19, 133, 34;

$med-color-feedback-success-medium: #3bb84b;
$med-color-feedback-success-medium-rgb: 59, 184, 75;

$med-color-feedback-success-light: #73e582;
$med-color-feedback-success-light-rgb: 115, 229, 130;

$med-color-feedback-success-lightest: #b0f5b9;
$med-color-feedback-success-lightest-rgb: 176, 245, 185;
