@import './button';

:host {
  --background: #{$med-color-brand-primary-medium};
  --border-radius: 22px;
  --padding: 0 22px;
  --transition: color 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out, border-radius 150ms ease-in-out, box-shadow 150ms ease-in-out;

  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 44px;
  text-transform: uppercase;
}

/**
  * default state
  */

// hover
@media (any-hover: hover) {
  :host(:hover) {
    --background: #{$med-color-aula-darkest};
  }
}

:host(.med-focused) {
  --background: #{$med-color-material-darkest};
}

:host(.med-activated) {
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
}

:host(.med-disabled) {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
