@import './button';

:host {
  --background: var(--med-color-brand-primary-medium, #3aa8b9);
  --border-radius: 22px;
  --padding: 0 22px;
  --transition: color 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out, border-radius 150ms ease-in-out, box-shadow 150ms ease-in-out;

  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 44px;
  text-transform: uppercase;
}
