// font size
$med-font-size-nano: 10px;
$med-font-size-xxxs: 12px;
$med-font-size-xxs: 14px;
$med-font-size-xs: 16px;
$med-font-size-sm: 20px;
$med-font-size-md: 24px;
$med-font-size-lg: 32px;
$med-font-size-xl: 40px;
$med-font-size-xxl: 48px;
$med-font-size-xxxl: 64px;
$med-font-size-huge: 96px;

// letter spacing
$med-letter-spacing-ultracompressed: -0.04;
$med-letter-spacing-compressed: -0.02;
$med-letter-spacing-default: 0;
$med-letter-spacing-medium: 0.02;
$med-letter-spacing-expanded: 0.05;
$med-letter-spacing-distant: 0.1;
$med-letter-spacing-far: 0.2;
